<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= sub %>
  </p>
  <p>
    <%= name %>
  </p>

  <table>
    <tr>
      <th>ID#</th>
      <th>Term</th>
      <th>Description</th>
      <th>Reference</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Infrastructure as Code (IaC)</td>
      <td>The practice of defining and managing infrastructure resources
        using code or declarative configuration files. It enables provisioning,
        configuring, and managing infrastructure through automation, improving
        consistency and scalability.
      </td>
      <td> Davis, A. (2021). Bootstrapping Microservices with Docker, Kubernetes,
        and Terraform. Manning Publications.</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Service Level Agreement(SLA)</td>
      <td>A contract or agreement between a service provider and
        its users. defining the expected level of service quality, avialability,and performance.
        SLAs set measurable targets and provide guidelines for services management and customer
        satisfaction.
      </td>
      <td>Bachlechner, D., & Hauck, J. (2020). Service Level Agreement.
        In T. K. Das (Ed.), Encyclopedia of Information Science and
        Technology (5th ed., pp. 2567-2575).IGI Global.</td>
    </tr>
    <tr>
      <td>3</td>
      <td>DevOps Culture</td>
      <td>A cultural shift that fosters collaborations,communication,and shared responsibility
        between development and operations teams.It promotes breaking down silos,automating
        processes,and embracing continuous learning and improvement. DevOps culture emphasizes
        the values of transparency, trust,and collaborations.
      </td>
      <td>Forsgren, N., Humble, J., & Kim, G. (2018). DevOps Culture. In The DevOps Handbook:
        How to Create World-Class Agility, Reliability, and Security in Technology Organizations
        (pp. 37-59). IT Revolution.</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Version Control System(VCS)</td>
      <td>A system that enables tracking and management of changes to source code and other files.
        VCS allows multiple development to work on a project concurrently,provides version history,
        facilitates collaboration,and helps with code management and branching strategies.
      </td>
      <td>Loeliger, J., & McCullough, M. (2012). Version Control Systems. In Version Control with Git:
        Powerful Tools and Techniques for Collaborative Software Development (2nd ed., pp. 1-29). O'Reilly Media.</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Configuration Management</td>
      <td>The process of managing and controlling the configuration of software systems and infrastructure.
        It involves tracking,maintaning and deploying configurations consistently across environments.
        Configuration management tools automate the provisioning,configuration and management of software
        and infrastructure resources.
      </td>
      <td>Humble, J., & Farley, D. (2010). Configuration Management. In Continuous Delivery: Reliable Software Releases
        through Build,
        Test, and Deployment Automation (pp. 125-152). Addison-Wesley.</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Monitoring and Observability</td>
      <td>The practice of continuously monitoring and collecting data about the performance,
        avialability,and behavior of systems and applications.Monitoring provides real-time insights
        into system health,while observability focuses on understanding system behavior and performance
        through log analysis,distributed tracing, and metrics.
      </td>
      <td>Newman, S. (2018). Monitoring and Observability. In Building Microservices: Designing
        Fine-Grained Systems (1st ed., pp. 221-246). O'Reilly Media.</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Scalability</td>
      <td>The ability of a system or applicaiton to handle increasing workload or user demand by
        adapting its recources.Scalability can be achieved through horizontal scaling(adding more
        instances) or vertical scaling(increasing the resources of existing instances).
      </td>
      <td>Hassan, R., & Bahsoon, R. (2016). Scalability. In Principles of Performance Engineering
        for Telecommunication and Information Systems (pp. 19-28). Springer.</td>
    </tr>
    <tr>
      <td>8</td>
      <td>GitOps</td>
      <td>A method for managing and automating infrastructure and application deployments using
        Git as the single source of truth. With GitOps, all changes to infrastructure and
        application configurations are made through version-controlled Git repositories,
        ensuring transparency and reproducibility.
      </td>
      <td>Cornellà-Detrell, J., & Galán, J. (2020). GitOps: A Working Definition. IEEE Software,
        37(6), 70-75. doi: 10.1109/MS.2020.3015466</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Continuous Delivery (CD)</td>
      <td>An extension of continuous integration that focuses on automating the deployment process.
        CD enables teams to continuously deliver software changes to production environments in a
        reliable and efficient manner. It emphasizes the use of automated testing,
        configuration management, and release management techniques.
      </td>
      <td>Farley, D., & Humble, J. (2011). Continuous Delivery (CD). In Continuous Delivery:
        Reliable Software Releases through Build, Test, and Deployment Automation (pp. 1-10). Pearson Education.</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Containerization</td>
      <td>The process of encapsulating an application and its dependencies into a lightweight,
        isolated container. Containers provide consistency across
        different environments and enable efficient deployment and scaling.
      </td>
      <td>Varghese, B., & Prasad, R. V. (2019). Containerization. In Handbook of
        Research on Microservices (pp. 170-183). IGI Global.</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Microservices</td>
      <td>Microservices is an architectural style where a large application is broken down into smaller, loosely coupled services. Each service is independently deployable and can be developed and maintained by different teams. Microservices promote scalability, flexibility, and easier maintenance of complex systems.</td>
      <td>Microsoft Azure. (n.d.). Microservices architecture. Retrieved from https://docs.microsoft.com/en-us/azure/architecture/guide/architecture-styles/microservices</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Serverless Computing</td>
      <td>Serverless computing allows developers to build and deploy applications without the need to manage underlying infrastructure. In a serverless environment, cloud providers automatically manage resource allocation and scaling based on demand, and users only pay for actual usage. It simplifies development and reduces operational overhead.</td>
      <td>Rosencrance, L. (2022, November). Serverless Computing. Retrieved from https://www.techtarget.com/searchitoperations/definition/serverless-computing</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Feature Flag</td>
      <td>A Feature Flag (also known as Feature Toggle) is a technique used to enable or disable specific features in an application without deploying new code. It allows developers to control the release of new functionalities and experiment with features in a controlled manner. Feature flags aid in incremental feature rollouts and enable quick rollbacks if issues arise.</td>
      <td>Rinaldi, B. (n.d.). What Are Feature Flags? LaunchDarkly Blog. Retrieved from https://launchdarkly.com/blog/what-are-feature-flags/
      </td>
    </tr>
    <tr>
      <td>14</td>
      <td>Continuous Monitoring</td>
      <td>Continuous Monitoring is the practice of continuously monitoring and collecting data about the performance, availability, and behavior of systems and applications. Monitoring provides real-time insights into system health, while observability focuses on understanding system behavior and performance through log analysis, distributed tracing, and metrics.</td>
      <td>Newman, S. (2018). Monitoring and Observability. In Building Microservices: Designing Fine-Grained Systems (1st ed., pp. 221-246). O'Reilly Media.</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Chaos Engineering</td>
      <td>Chaos Engineering is a discipline where controlled experiments are conducted on a system to identify weaknesses and potential failures. By intentionally injecting failures and observing system behavior, teams gain insights into resiliency, identify critical points, and make improvements to enhance system reliability.</td>
      <td>Rosenthal, C. (2021, June 25). What Chaos Engineering Is (and Isn't). DevOps.com. Retrieved from https://devops.com/what-chaos-engineering-is-and-isnt/</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Shift-Left Testing</td>
      <td>Shift-Left Testing is an approach that involves testing activities starting earlier in the software development lifecycle. It aims to identify and address defects at an early stage, reducing the cost and impact of fixing issues later in the process. Shift-Left Testing enhances collaboration between development and testing teams and leads to higher quality software.</td>
      <td>Hayes, A. (2022, July 05). What Is Elasticity in Finance; How Does it Work (with Example)? Investopedia. Retrieved from https://www.investopedia.com/terms/e/elasticity.asp</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Elasticity</td>
      <td>Elasticity is a cloud computing characteristic that allows resources to automatically scale up or down based on demand. It enables applications to handle varying workloads efficiently, ensuring optimal performance and cost-effectiveness.</td>
      <td>Hayes, A. (2022, July 05). What Is Elasticity in Finance; How Does it Work (with Example)? Investopedia. Retrieved from https://www.investopedia.com/terms/e/elasticity.asp</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Incident Management</td>
      <td>Incident Management is the process of identifying, resolving, and learning from incidents that disrupt normal operations. It involves a systematic approach to minimize the impact of incidents on users and restore service as quickly as possible.</td>
      <td>Team Asana. (2022, December 5). What is Incident Management? Steps, Tips, and Best Practices. Asana. Retrieved from
        https://asana.com/resources/incident-management
      </td>
    </tr>
    <tr>
      <td>19</td>
      <td>Infrastructure Automation</td>
      <td>Infrastructure Automation involves using scripts and tools to automatically configure and manage infrastructure components. It reduces manual intervention, ensures consistency, and accelerates infrastructure provisioning and updates.</td>
      <td>Doerrfeld, B. (2022, December 12). 5 Tips to Consider When Introducing Infrastructure Automation. DevOps.com. Retrieved from https://devops.com/5-tips-to-consider-when-introducing-infrastructure-automation/</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Orchestration</td>
      <td>In the context of DevOps, orchestration refers to the automated coordination and management of complex workflows and tasks. Orchestration tools streamline the deployment and scaling of applications, making it easier to manage and maintain large systems.</td>
      <td>Gill, N. S. (2022, November 14). Orchestration vs Automation - Understanding the Difference. XenonStack. Retrieved from 
        https://www.xenonstack.com/insights/orchestration-vs-automation</td>
    </tr>
  </table>
</body>

</html>